:root {
  --color-primary: #072145;
  --color-secondary: #004481;
  --color-skyblue: #0065ab;
  --color-green: #028687;
  --color-blue-secondary: #023c6e;
  --color-blue-tertiary: #012c70;
  --color-green-secondary: #4ec0bd;
  --color-input-border: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 640px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}

header {
  background-color: var(--color-primary);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15px;
  position: relative;
}

.header__container > img {
  width: 7rem;
}

.burger-icon {
  cursor: pointer;
}

.header__box {
  opacity: 0;
  transform: translateY(-10px);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem 15px;
  background-color: var(--color-primary);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; 
}

.header__box-active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header__links {
  list-style: none;
  color: #ffffff;
  font-weight: 100;
}

.header__media {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.header__link > a {
  padding: 1rem 0;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.header__link-active > a {
  color: var(--color-green);
}

.header__link > a::after
{
  content: "";
  position: absolute;
  width: 100%;
  height: 0rem;
  bottom: 0;
  background-color: var(--color-green);
  transition: height 0.3s ease-in-out;
}

.header__link > a:hover::after,
 {
  height: .5rem;
}

.header__link-active > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: .5rem;
  bottom: 0;
  background-color: var(--color-green);
  transition: height 0.3s ease-in-out;
}

@media (min-width: 1280px) {
  .header__container {
    margin: 0 auto;
    height: 100%;
    justify-content: center;
    gap: 1.5rem;
  }

  .header__box {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 1.5rem;
  }

  .header__box {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: static;
    padding: 0;
    width: fit-content;
  }

  .burger-icon {
    display: none;
  }

  .header__links {
    display: flex;
    font-size: 12px;
    text-wrap: nowrap;
    gap: 12px;
    height: 100%;
    align-items: center;
    line-height: 19.36px;
  }

  .header__link {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header__link > a::after {
    top: 100%;
  }
  
  .header__link > a:hover::after {
    height: 1rem;
  }

  .header__link-active > a::after {
    top: 100%;
    height: 1rem;
  }

  .header__media {
    margin-top: 0;
  }
}

@media (min-width: 1536px) {
  .header__container {
    justify-content: center;
    gap: 6rem;
  }

  .header__links {
    list-style: none;
    color: #ffffff;
    font-size: 14px;
  }

  .header__box {
    gap: 6rem;
  }
}

/* Home */

.home__background {
  background-image: url("./../assets/background-home.png");
  background-size: cover;
}

.home__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.home__title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.home__title > span:last-child {
  color: var(--color-green-secondary);
}

.home__desc {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .home__title {
    font-size: 3.5rem;
  }

  .home__desc {
    font-size: 1.7rem;
  }
}

/*********** PORPOSE ***********/

.purpose__container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
}

.purpose__title {
  background-color: var(--color-secondary);
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 4rem 2.5rem 4rem 5rem;
  width: fit-content;
}

.purpose__desc {
  color: var(--color-primary);
  padding: 0 15px;
  font-weight: 300;
  font-size: 1rem;
  line-height: 32.81px;
}

@media (min-width: 640px) {
  .purpose__title {
    padding: 8rem 5rem 8rem 10rem;
  }

  .purpose__desc {
    max-width: 80%;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .purpose__container {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}

@media (min-width: 1024px) {
  .purpose__container {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .purpose__title {
    font-size: 4rem;
    max-width: 902px;
    height: 534px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 66px 0 120px;
  }

  .purpose__desc {
    padding-left: 30px;
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .purpose__title {
    width: 45%;
  }

  .purpose__desc {
    max-width: 30%;
    font-size: 20px;
  }
}

/*********** QUE HACEMOS ***********/
.hacemos__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.hacemos__banner {
  background-color: var(--color-secondary);
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hacemos__title {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 30px;
  border-bottom: 2px solid #ffffff;
}

.hacemos__subtitle {
  padding-top: 30px;
  font-weight: 100;
  font-size: 1.2rem;
}

.hacemos__description {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 1.2rem;
}

.hacemos__description>img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
}

@media(min-width: 1024px) {
  .hacemos__banner>.container {
    display: flex;
    align-items: center;
    max-width: 900px;
  }

  .hacemos__title {
    padding-bottom: 0;
    border-bottom: none;
    padding-right: 40px;
    border-right: 2px solid #ffffff;
    font-size: 4rem;
  }

  .hacemos__subtitle {
    padding-top: 0;
    padding-left: 40px;
    font-size: 1.8rem;
  }

  .hacemos__info {
    font-size: 1.2rem;
    max-width: 55%;
    margin-left: auto;
    transform: translateX(-5%);
  }

  .hacemos__description>img {
    margin-top: 80px;
  }
}

@media(min-width: 1280px) {
  .hacemos__info {
    max-width: 50%;
    transform: translateX(-12%);
  }
}

@media(min-width: 1536px) {
  .hacemos__info {
    max-width: 40%;
    transform: translateX(-37%);
  }
}

/*********** CONTACTANOS ***********/
.contactanos__background {
  background-color: var(--color-secondary);
  padding-top: 60px;
}

.contactanos__title {
  color: white;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  padding-bottom: 40px;
}

.contactanos__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contactanos__content__inputs {
  display: flex;
  flex-direction: column;
  max-width: 505px;
  width: 100%;
}

.contactanos__content__inputs input {
  max-width: 300px;
  width: 100%;
  height: 59px;
  border: 1px solid var(--color-input-border);
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 25px;
  color: white;
  font-family: Inter;
  padding: 0 20px;
}

.contactanos__content__inputs input::placeholder {
  color: white;
  font-weight: 300;
}

.contactanos__content__inputs input::placeholder {
  color: white;
  font-weight: 300;
}

.contactanos__button {
  max-width: 117px;
  height: 59px;
}

.contactanos__content__contact {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.contactanos__content__contact p {
  color: white;
  font-family: Inter;
  text-align: right;
  font-size: 20px;
  font-weight: 300;
  padding-top: 20px;
}

.contactanos__content__socials a {
  margin-left: 20px;
}

.contactanos__content__socials img {
  box-shadow: 14px 14px 18px hsl(0deg 0% 13.33% / 69%);
  border-radius: 50%;
  max-height: 40px;
}

@media (min-width: 425px) {
  .contactanos__content__inputs input {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .contactanos__content__inputs {
    max-width: 400px;
  }
  .contactanos__content__inputs input {
    max-width: 400px;
  }
  .contactanos__content {
    flex-direction: row;
  }

  .contactanos__content__socials {
    padding-left: 20px;
  }

  .contactanos__content__socials img {
    max-height: 52px;
  }

  .contactanos__content__contact {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .contactanos__content__inputs input {
    max-width: 505px;
  }
  .contactanos__title {
    font-size: 5rem;
  }
  .contactanos__content__socials img {
    max-height: 72px;
  }

  .contactanos__content__contact p {
    color: white;
    font-family: Inter;
    font-size: 32px;
    font-weight: 300;
    padding-top: 20px;
  }
}
@media (min-width: 1280px) {
  .contactanos__title {
    font-size: 5.5rem;
  }
}
